@import "styles/colors.scss";

.liquidityContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "leftColumn rightColumn"
    "secondRow secondRow"
    "thirdRow thirdRow";

  .header {
    grid-area: header;
    margin-bottom: 20px;
  }

  .leftColumn {
    grid-area: leftColumn;
  }

  .rightColumn {
    grid-area: rightColumn;
    .table {
      display: grid;
      margin-bottom: 16px;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;

      .cell {
        border-bottom: $section-border;
        padding: 6px;
      }

      .cell:nth-child(-n + 3) {
        border-top: $section-border;
        font-weight: 500;
      }

      .cell:nth-child(3n + 1) {
        border-left: $section-border;
      }

      .cell:nth-child(3n) {
        border-right: $section-border;
      }

      .cell:first-child {
        border-top-left-radius: $section-border-radius;
      }

      .cell:last-child {
        border-bottom-right-radius: $section-border-radius;
      }

      .cell:nth-child(3) {
        border-top-right-radius: $section-border-radius;
      }
      .cell:nth-last-child(3) {
        border-bottom-left-radius: $section-border-radius;
      }
    }

    .bPrimeAmount {
      display: flex;
      .label {
        flex-grow: 2;
      }
      .amount {
        text-align: right;
      }
    }
  }

  .secondRow {
    grid-area: secondRow;
    text-align: center;

    button {
      width: 100%;
    }
  }

  .thirdRow {
    grid-area: thirdRow;
    &.back img {
      margin-right: 6px;
      width: 16px;
      position: relative;
      top: 2px;
    }
  }
}
