@import "styles/colors.scss";
.dashboardContainer {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;

  .button1,
  .button2,
  .button3 {
    display: inline-block;
    margin: auto;
  }

  > div:not(:last-child) {
    margin-right: 26px;
  }

  .learnmore,
  .locking {
    text-align: left;
    margin-bottom: 25px;

    div.moreinfo {
      display: flex;
      align-items: center;
      margin-bottom: 6px;

      .circled-number {
        flex-shrink: 2;
        padding-right: 10px;
        .number {
          bottom: 1px;
        }
      }

      .message {
        flex-grow: 2;
      }
    }

    // .inputButtonGroup {
    //   text-align: left;
    //   display: block;
    //   .inputGroup {
    //     display: inline-block;
    //     label {
    //       display: block;
    //     }
    //     input {
    //       margin-right: 6px;
    //     }
    //   }
    // }

    // .section.middle .value {
    //   font-size: 16px;
    //   font-weight: bold;
    //   margin-bottom: 6px;
    //   font-family: "Cera Pro";
    // }
  }

  .learnmore {
    min-width: 290px;
    max-width: 290px;
    border-top: 4px solid $color-lightblue;
    padding-top: 30px;
    .image {
      text-align: center;

      img {
        width: 265px;
      }
    }

    a {
      text-decoration: underline;
    }

    > div:not(:last-child) {
      margin-bottom: 16px;
    }

    .moreinfo {
      margin-bottom: 28px;

      .icon {
        flex-shrink: 2;
        padding-right: 10px;
        img {
          height: 16px;
          position: relative;
          top: 2px;
        }
      }
    }
  }

  .locking {
    .yourLocks {
      .repStatus {
        text-align: center;

        .repStyle {
          color: $color-lightblue;
        }

        .left,
        .right {
          padding: 10px;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .totalRep {
            font-size: 24px;
            font-weight: bold;
            white-space: nowrap;
          }

          .yourRep {
            font-size: 22px;
            white-space: nowrap;
          }
        }
      }
    }

    .lockingform {
      min-width: 400px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .dashboardContainer {
    flex-direction: column;
    > div:not(:last-child) {
      margin: auto;
      margin-bottom: 20px;
    }

    .locking {
      .doubleSection {
        flex-direction: column;
        .left {
          flex-basis: 100%;
        }

        .right {
          flex-basis: 100%;
        }
      }
    }
  }
}
