@font-face {
  font-family: "Cera Pro";
  src: url("../../assets/fonts/Cera Pro Medium.otf") format("opentype");
}

@font-face {
  font-family: "Aeonik";
  src: url("../../assets/fonts/Aeonik-Regular.otf") format("opentype");
}

/* Colors: */
$color-ff6975: #ff6975;
$color-101519: #101519;
$color-ae5cff: #ae5cff;
$color-1ee0fc: #1ee0fc;
$color-ff495b: #ff495b;
$color-fca500: #fca500;
$color-f2c21a: #f2c21a;
$color-fffa51: #fffa51;
$color-feffa2: #feffa2;
$color-ff402e: #ff402e;
$color-fd6123: #fd6123;
$color-faa04a: #faa04a;
$color-f9bd7d: #f9bd7d;
$color-df0031: #df0031;
$color-fe173b: #fe173b;
$color-ea005a: #ea005a;
$color-fc1d90: #fc1d90;
$color-fa81ff: #fa81ff;
$color-ffa2ce: #ffa2ce;
$color-9a14d5: #9a14d5;
$color-bf62a8: #bf62a8;
$color-c08eff: #c08eff;
$color-298cdd: #298cdd;
$color-8668fc: #8668fc;
$color-64b0c8: #64b0c8;
$color-5bcaa9: #5bcaa9;
$color-95d86e: #95d86e;
$color-77ff02: #77ff02;
$color-c0ffa4: #c0ffa4;
$color-white: #ffffff;
$color-black: #000000;

/* Font/text values */
$font-family-headers: "Cera Pro";
$font-family-body-text: Aeonik;
$font-style-normal: normal;
$font-weight-medium: medium;
$font-weight-normal: normal;
$font-weight-bold: 500;
$font-size-15: 15px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-28: 28px;
$font-size-42: 42px;
$font-size-72: 72px;
$character-spacing-0: 0px;
$character-spacing-0-75: 0.75px;
$character-spacing-0-9: 0.9px;
$character-spacing-1-1: 1.1px;
$line-spacing-18: 18px;
$line-spacing-26: 26px;
$line-spacing-30: 30px;
$line-spacing-48: 48px;
$line-spacing-91: 91px;
$text-transform-uppercase: uppercase;

.landingPageWrapper {
  padding-bottom: 80px;

  > .introduction > .container,
  > .aboutUs,
  > .ecosystem,
  > .join,
  > .footer {
    padding-left: 140px;
    padding-right: 150px;
  }

  .header-3 {
    font-family: $font-family-headers;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-22;
    line-height: $line-spacing-48;
    letter-spacing: $character-spacing-1-1;
  }

  .header-2-2 {
    font-family: $font-family-headers;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-42;
    line-height: $line-spacing-48;
    letter-spacing: $character-spacing-0;
  }
  .header-2 {
    font-family: $font-family-headers;
    font-style: $font-style-normal;
    font-weight: $font-weight-medium;
    font-size: $font-size-42;
    line-height: $line-spacing-48;
    letter-spacing: $character-spacing-0;
  }
  .header-1 {
    font-family: $font-family-headers;
    font-style: $font-style-normal;
    font-weight: $font-weight-medium;
    font-size: $font-size-72;
    line-height: $line-spacing-91;
    letter-spacing: $character-spacing-0;
  }

  .text-button {
    font-family: $font-family-headers;
    font-style: $font-style-normal;
    font-weight: $font-weight-bold;
    font-size: $font-size-28;
    line-height: $line-spacing-48;
    letter-spacing: $character-spacing-0;
    text-decoration: none;
  }

  .text-menu {
    font-family: $font-family-body-text;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-28;
    line-height: $line-spacing-48;
    letter-spacing: $character-spacing-0;
    text-decoration: none;
  }

  .text-menu-item {
    font-family: $font-family-body-text;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-15;
    line-height: $line-spacing-18;
    letter-spacing: $character-spacing-0-75;
    color: $color-101519;
    text-transform: $text-transform-uppercase;
    text-decoration: none;
  }

  .text-1 {
    font-family: $font-family-body-text;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-22;
    line-height: $line-spacing-30;
    letter-spacing: $character-spacing-1-1;
  }

  .text-2 {
    font-family: $font-family-body-text;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: $font-size-18;
    line-height: $line-spacing-26;
    letter-spacing: $character-spacing-0-9;
  }

  .introduction {
    background-image: url("/src/assets/images/CURVE_PD_3D_BG_SCENE_V15-1_CAM_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 740px;
    padding-top: 100px;
    padding-bottom: 95px;
    color: $color-white;

    .container {
      display: flex;

      .leftColumn {
        .header {
          margin-bottom: 140px;
          img.logo {
            width: 94px;
            height: 94px;
          }
        }

        .body {
          margin-bottom: 190px;
          text-shadow: 0px 3px 20px #000000cc;
          .title {
            @extend .header-1;
            margin-bottom: 16px;
          }
          .subtitle {
            @extend .header-2;
            margin-bottom: 50px;
          }
          .body {
            @extend .text-1;
          }
        }

        .footer {
          .moreIcon {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 29px 29px;
            border-color: transparent transparent $color-white transparent;
          }
        }
      }

      .rightColumn {
        text-align: right;
        @extend .text-menu;
        min-width: 320px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 50px max-content;
        column-gap: 16px;

        &.showLearn .learn .menuDivider,
        &.showConnect .connect .menuDivider {
          display: block;
        }

        &.showLearn .learnMenu,
        &.showConnect .connectMenu {
          height: initial;
        }

        .learn,
        .connect {
          .name {
            display: inline-block;
            width: 100%;
          }
          .menuDivider {
            display: none;
            height: 3px;
            background-color: $color-white;
          }
        }

        .learnMenu,
        .connectMenu {
          padding-top: 20px;
          text-align: left;
          display: flex;
          flex-direction: column;
          height: 0;
          overflow-y: hidden;

          > div {
            @extend .text-menu-item;
            background-color: $color-white;
            margin-bottom: 16px;
            display: flex;
            padding: 14px;
            cursor: pointer;
            color: $color-black;

            .triangle {
              flex-grow: 2;
              text-align: right;
              height: 0;
              width: 0;
              border-style: solid;
              border-width: 0 12px 12px 0;
              border-color: transparent $color-ae5cff transparent transparent;
            }
          }
        }
      }
    }
  }

  .aboutUs {
    padding-top: 140px;
    color: $color-101519;

    .title {
      padding-bottom: 46px;

      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 91px 91px;
        border-color: transparent transparent $color-ff6975 transparent;
        display: inline-block;
      }

      .name {
        @extend .header-2-2;
        display: inline-block;
        position: relative;
        top: -51px;
        left: -91px;
      }
      .subtitle {
        @extend .header-3;
        position: relative;
        top: -51px;
      }
    }
    .subsections {
      display: flex;

      .section {
        .icon {
          margin-bottom: 46px;
        }
        .title {
          @extend .header-2-2;
          height: 100px;
          padding-bottom: 46px;
          margin-bottom: 46px;
          border-bottom: solid 5px $color-ff6975;
        }
        .body {
          @extend .text-2;
        }
      }

      .section:not(:last-child) {
        margin-right: 5%;
      }
    }
  }

  .ecosystem {
    padding-top: 140px;
    color: $color-101519;
    margin-bottom: 140px;

    .title {
      padding-bottom: 46px;

      .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 91px 91px;
        border-color: transparent transparent $color-1ee0fc transparent;
        display: inline-block;
      }

      .name {
        @extend .header-2-2;
        display: inline-block;
        position: relative;
        top: -51px;
        left: -91px;
      }
      .subtitle {
        @extend .header-3;
        position: relative;
        top: -51px;
      }
    }

    .pic {
      text-align: center;
    }
  }

  .join {
    background-image: url("/src/assets/images/CURVE_PD_3D_BG_SCENE_V11-1_CAM_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 420px;
    padding-bottom: 95px;
    padding-left: 540px;
    padding-right: 540px;
    color: $color-white;
    text-align: center;
    margin-bottom: 120px;

    .title {
      @extend .header-1;
      margin-bottom: 16px;
    }
    .subtitle {
      @extend .text-1;
      margin-bottom: 50px;
    }
    .button {
      display: inline-block;
      width: 140px;
      height: 48px;
      background-color: $color-white;
      padding: 14px;
      cursor: pointer;
      text-align: center;
      a {
        @extend .text-button;
        color: $color-black;
      }

      &:hover {
        background-color: $color-black;
        a {
          color: $color-white;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #d7d9db;

    .header {
      flex-basis: 30%;
      .title {
        @extend .header-2;
        margin-bottom: 16px;
      }
      .subtitle {
        @extend .text-1;
      }
    }

    .logo {
      flex-grow: 20;
      flex-basis: 40%;
      text-align: center;
      img {
        width: 71px;
        height: 71px;
      }
    }

    .share {
      flex-basis: 30%;
      text-align: right;

      a:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}
