@import "styles/colors.scss";

.connectButtonContainer {
  display: inline-block;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0.75rem;
  border: 1px solid;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 0.75rem;
  }

  .connectedButtons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .ethBalanceContainer {
      display: inline-block;
      white-space: nowrap;
    }
  }

  &.connected {
    padding-left: 14px;

    .connectedButtons {
      .separator {
        display: inline-block;
        margin-left: 8px;
        position: relative;
        bottom: 1px;
        color: $button1-color;
      }
      .connectButton {
        cursor: default;
        text-align: center;
        border: 0;

        .pending {
          .phase {
            display: inline-block;
            margin-right: 6px;
          }
        }

        .etherscanlink .text {
          margin-right: 0.25rem;
        }
      }
      .ethBalanceContainer {
        margin-right: 0.5rem;
      }
    }
  }
}
