.lockingTokensForReputation {
  padding-top: 30px;
  .messaging,
  .form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .form {
    .inputButtonGroup {
      .inputGroup {
        display: inline-block;
        white-space: nowrap;
      }
    }

    .tokenButtons {
      button {
        width: 100%;
      }
    }
  }
}
