@import "styles/colors.scss";
.lockingTokensForReputation {
  padding-top: 30px;
  .loading {
    text-align: center;
    padding-top: 30px;
    i {
      font-size: 22px;
    }
  }
  .messaging,
  .form {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .allowanceMessage {
    margin-bottom: 20px;
  }

  .messaging {
    color: $color-yellow;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .connectButton {
    text-align: center;
  }
  .form {
    .inputButtonGroup {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;

      .inputGroup {
        white-space: nowrap;

        label {
          white-space: nowrap;
          margin-right: 6px;
        }
      }
    }

    .tokenButtons {
      button {
        width: 100%;
      }
    }
  }
}
