@import "styles/colors.scss";

.banner {
  display: flex;
  justify-content: center;
  position: fixed;
  max-width: 95vw;
  max-height: 43px;
  margin: auto;
  right: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}

.banner .body {
  display: flex;
  max-width: 100%;
  padding-top: 0.6rem;
  padding-right: 1.25rem;
  padding-bottom: 0.6rem;
  padding-left: 1.25rem;
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border: 0px solid #000000;

  .message {
    overflow: hidden;
    white-space: nowrap;
    margin-right: 12px;
  }

  button.close {
    flex-shrink: 2;
    color: $color-ds-white;
    cursor: pointer;
    background-color: $color-ds-red;
    border: none;
    font-size: 18px;
    padding: 0;
  }
}

.banner.warning .body {
  color: $color-ds-darkblue;
  background-color: $color-ds-yellow;
}

.banner.failure .body {
  color: $color-ds-white;
  background-color: $color-ds-red;
}

.banner.info .body {
  color: $color-ds-white;
  background-color: $color-ds-darkblue;
}

.banner.info .body a {
  margin-left: 0.5rem;
  color: $color-ds-yellow;
  text-transform: uppercase;
}

.banner.info .body .copy-to-clip-button {
  margin-left: 0.5rem;
  color: $color-ds-yellow;
}

.banner.info button.close {
  background-color: $color-ds-darkblue;
}

.banner button.close span {
  color: $color-ds-white;
}

.banner.au-enter-active {
  animation: slideDown 1s;
}

.banner.au-leave-active {
  animation: slideUp 0.6s;
}

.banner.au-stagger {
  animation-delay: 50ms;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
