.connectButtonContainer {
  display: inline-block;
  padding-left: 0.7rem;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0.75rem;
  border: 1px solid;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.7rem;
    border-radius: 0.75rem;
    cursor: pointer;
  }

  &.connected {
    .connectButton,
    .pending {
      cursor: default;
      border: 0;
    }
    .pending {
      .phase {
        display: inline-block;
        margin-right: 6px;
      }

      &.confirming {
        cursor: pointer;
        .phase:hover {
          text-decoration: underline;
        }
      }
    }
    .ethBalanceContainer {
      display: inline-block;
      margin-right: 0.5rem;
    }

    .etherscanlink .text {
      margin-right: 0.25rem;
    }
  }
}
