.connectButtonContainer {
  display: inline-block;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 0.75rem;
  border: 1px solid;

  .connectButton {
    display: inline-block;
    padding: 0.6rem 0.9rem;
    border-radius: 0.75rem;
  }

  .ethBalanceContainer {
    display: inline-block;
  }

  &.connected {
    padding-left: 14px;
    .connectButton {
      cursor: default;
      border: 0;
      .pending {
        .phase {
          display: inline-block;
          margin-right: 6px;
        }
      }

      .etherscanlink .text {
        margin-right: 0.25rem;
      }
    }
    .ethBalanceContainer {
      margin-right: 0.5rem;
    }
  }
}
