$color-black: #000000;
$color-black-2: #212529;
$color-grey-7: #202020;
$color-grey-6: #4c4c4c;
$color-grey-5: #757575;
$color-grey-4: #9b9b9b;
$color-grey-3: #b5b5b5;
$color-grey-2: #cecece;
$color-grey-1: #ededed;
$color-white: #ffffff;
$color-lightblue: #1ee0fc;
$color-blue: #298cdd;
$color-darkblue: #0c71c4;
$color-yellow: #fffa51;
$color-bluegreen: #1aaaad;
$color-green: #64b0c8;
$color-red: #e8290a;
$color-red-2: #fb5252;
$color-orange: #faa04a;
$color-light-purple: #8668fc;
$color-dark-purple: #7557eb;
$color-grey: #d7d9db;
$button1-color: #64b0c8;
$button2-color: #c08eff;
$button3-color: $color-orange;
$triangle-color: #39a1d8;

$global-background-color: $color-blue;
$global-button-radius: 5px;
$divider-color: $color-lightblue;
$lightbutton-border: 2px solid $color-green;
$section-border: 2px solid $color-white;
$section-background-color: $color-darkblue;
$section-border-radius: 5px;
