@import "styles/colors.scss";
.appWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 76px; // header

  .appHeader {
    text-align: right;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-white;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $global-background-color;
    z-index: 10000; // so everything will scroll under it
    height: 76px;

    .logo {
      width: 96px;
      background-color: $color-white;
      height: 100%;
      margin-right: 10px;
      // just for vertical alignment of the logo
      display: flex;
      justify-content: center;
    }

    .networkfeedback {
      color: $color-white;
      margin-right: 10px;
      text-align: left;
      .testnet {
        color: $color-red;
      }
    }

    .connectButton {
      flex-grow: 2;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .appFooter {
    padding: 16px;
    font-size: 14px;
    border-top: 2px solid $color-white;
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-template-areas:
      "title logo links"
      "subtitle logo share";

    .name {
      opacity: 0.5;
      grid-area: title;
      font-size: 18px;
      margin-bottom: 12px;
    }
    .logo {
      grid-area: logo;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        opacity: 0.75;
        width: 40px;
        height: 40px;
      }
    }
    .links {
      grid-area: links;
      display: flex;
      justify-content: flex-end;
      a {
        opacity: 0.5;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .separator {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        color: $color-yellow;
      }
    }

    .subtitle {
      opacity: 0.5;
      grid-area: subtitle;
      font-size: 14px;
    }

    .share {
      opacity: 0.65;
      grid-area: share;
      text-align: right;

      a {
        width: 22px;
        height: 22px;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
      }

      a:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}
