body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;

  .app-shell {
    min-height: 100vh;
    min-width: 100vw;

    .landing-body-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 5vw;
    }
  }
}
