body {
  width: 100%;
  margin: 0;

  .app-shell {
    min-height: 100vh;
    width: 1815px;
    max-width: 1815px;
    margin: auto;

    .landing-body-container {
      display: flex;
      flex-direction: column;
    }
  }
}
