$color-ds-black: #000000;
$color-ds-black-2: #212529;
$color-ds-grey-7: #202020;
$color-ds-grey-6: #4c4c4c;
$color-ds-grey-5: #757575;
$color-ds-grey-4: #9b9b9b;
$color-ds-grey-3: #b5b5b5;
$color-ds-grey-2: #cecece;
$color-ds-grey-1: #ededed;
$color-ds-white: #ffffff;
$color-ds-lightblue: #48e3e6;
$color-ds-darkblue: #007bbc;
$color-ds-yellow: #ffd110;
$color-ds-bluegreen: #1aaaad;
$color-ds-green: #3dbb7e;
$color-ds-red: #e8290a;
$color-ds-red-2: #fb5252;
$color-ds-orange: #f25c05;
