@import "./animations";
@import "./dialogs";
@import "tippy.js/dist/tippy.css"; // TODO: use CDN?

html {
  height: 100%;

  body {
    margin: 0;
    background-color: $global-background-color;
    color: $color-white;
    font-family: Aeonik;
    height: 100%;

    input {
      border: $section-border;
      background-color: transparent;
      border-radius: $section-border-radius;
      color: $color-white;
      outline: none;

      &::placeholder {
        color: $color-white;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      font-size: 34px;
      font-family: "Cera Pro";
      margin-bottom: 20px;
    }
    .heading1 {
      font-size: 24px;
      font-family: "Cera Pro";
      margin-bottom: 8px;
      white-space: nowrap;
      position: relative; // for triangle z-index to work
    }
    .heading2 {
      font-size: 24px;
      font-family: "Cera Pro";
      white-space: nowrap;
    }

    .button1,
    .button2,
    .button3,
    .button4 {
      border-radius: $global-button-radius;
      padding: 0 10px;
      font-size: 14px;
      line-height: 26px;
      color: $color-white;
      letter-spacing: 0.7px;
      border: 2px solid $color-white;
      outline: none;

      &:hover {
        background-color: $color-black;
        border-color: $color-black;
        color: $color-white;
      }
    }

    .button1 {
      background-color: $button1-color;
      border-color: $button1-color;
      white-space: nowrap;
      outline: none;
    }
    .button2 {
      background-color: $button2-color;
      border-color: $button2-color;
      white-space: nowrap;
      outline: none;
    }
    .button3 {
      background-color: $button3-color;
      border-color: $button3-color;
      white-space: nowrap;
      outline: none;
    }
    .button4 {
      background-color: transparent;
      white-space: nowrap;
      border: 2px solid $color-green;
      outline: none;
    }

    .section {
      border: $section-border;
      background-color: $section-background-color;
      border-radius: $section-border-radius;
      font-size: 12px;
      letter-spacing: 0.6px;
      line-height: 15px;
      padding: 24px;

      &.top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        padding-top: 60px;

        > div {
          margin-bottom: 16px;
        }

        .triangle {
          position: absolute;
          transform: translateY(-21px);

          img {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 38px 38px;
            border-color: transparent transparent $triangle-color transparent;
            display: inline-block;
          }
        }
      }
      &.middle {
        border-radius: 0;
        border-bottom: none;
        text-align: center;

        &.doubleSection {
          display: flex;
          padding: 0;

          .left,
          .right {
            padding-top: 24px;
            padding-bottom: 24px;
          }

          .left {
            padding-left: 0;
            padding-right: 0;
            flex-basis: 50%;
            border-right: $section-border;
          }

          .right {
            flex-basis: 50%;
          }
        }
      }
      &.bottom {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
      }
    }
  }
}

etherscanlink {
  white-space: nowrap;
  display: inline-block;
}

.smallEtherScanLink {
  display: inline-block;
  vertical-align: middle;
  width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy-to-clip-button,
.copy-to-clip-button:focus {
  color: $color-white;
}

.copy-to-clip-button:hover {
  color: $color-grey-3;
}
